
@{
    ViewBag.Title = "Tìm Truyện";
}
@Styles.Render("~/Content/TimKiemStyle.css")
@Styles.Render("~/Content/indexStyle.css")
<div class="container" id="contact-info" style="background-color: #f3f3f3;">
    <ul class="list-unstyled">
        <li style="margin-left: 5%" id="contact-li-left"><i class="glyphicon glyphicon-phone">&ensp;</i>Thông tin liên hệ</li>
        <li><i class="glyphicon glyphicon-book">&ensp;</i>Email liên hệ</li>
        <li style="float: right; margin-right: 5%;"><a href="DangNhap"><i class="glyphicon glyphicon-log-in">&ensp;</i>Đăng nhập</a></li>
        <li style="float: right;" id="contact-li-right"><a href="#"><i class="glyphicon glyphicon-plus-sign">&ensp;</i>Đăng kí</a></li>
    </ul>
</div>
<div class="container" id="logo-search-info" style="background-color: #ffffff;">
    <div class="row">
        <div class="col-md-4" style="padding-left: 6%;"><span style="color: #337ab7;">MANGA<span style="color: #d63031;">STORE</span>.COM</span></div>
        <div class="col-md-5" id="search-info">

            <input type="text" placeholder="Nhập tên truyện cần tìm kiếm..." />
            <img src="~/Images/search1.png" style="margin-left: -50px;" />
        </div>
        <div class="col-md-3" id="shopping-info" style="position: relative; margin-top: -10px;">
            <a href="GioHang" style="text-decoration: none;">
                <i class="glyphicon glyphicon-shopping-cart"></i>
                <span>GIỎ HÀNG</span>
            </a>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <nav class="navbar" id="navigation-bar">
            <div class="navbar-header">
                <a href="Index" class="navbar-brand">TRANG CHỦ</a>
            </div>
            <div class="navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="#">TRUYỆN HOT</a></li>
                    <li><a href="TimTruyen">THỂ LOẠI</a></li>
                    <li><a href="#">XẾP HẠNG</a></li>
                    <li><a href="#">TRÒ CHUYỆN</a></li>
                    <li><a href="#">GÓP Ý</a></li>
                </ul>
            </div>
        </nav>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-8" style="background-color: #ffffff; padding-bottom: 20px; border: 1px solid #bdc3c7;">
            <h3>Tìm truyện tranh</h3>
            <hr />
            <form action="">
                <div class="form-group">
                    <label for=TimKiemTruyen">Tên Truyện</label>
                    <input type="TimKiemTruyen" class="form-control" id="TimKiemTruyen">

                </div>
                <div class="form-group">
                    <button class="btn btn-success">  <span class="glyphicon glyphicon-search"></span>Tìm kiếm</button>
                </div>
                <div class="form-group">
                    <label>Trạng thái:</label>
                    <button class="btn btn-default">Tất cả</button>
                    <button class="btn btn-default">Đã hoàn thành</button>
                    <button class="btn btn-default">Đang tiết hành</button>
                </div>
                <div class="form-group">
                    <label>Sắp xếp theo:</label>
                    <button class="btn btn-default"> <span class="glyphicon glyphicon-sort-by-attributes"></span>Ngày cập nhật </button>
                    <button class="btn btn-default"> <span class="glyphicon glyphicon-sort-by-attributes"></span>Truyện mới </button>
                    <button class="btn btn-default"> <span class="glyphicon glyphicon-eye-open"></span>Top all </button>
                    <button class="btn btn-default"> <span class="glyphicon glyphicon-eye-open"></span>Top tuần </button>
                    <button class="btn btn-default"> <span class="glyphicon glyphicon-eye-open"></span>Top ngày </button>
                    <button class="btn btn-default"> <span class="glyphicon glyphicon-heart"></span>Theo dõi </button>
                    <button class="btn btn-default"> <span class="glyphicon glyphicon-star"></span>Top đánh giá</button>
                    <button class="btn btn-default"> <span class="glyphicon glyphicon-comment"></span>Top bình luận</button>
                    <button class="btn btn-default"> <span class="glyphicon glyphicon-sort-by-alphabet"></span>Tên truyện</button>
                </div>
            </form>
        </div>

        <div class="col-md-4" style="background-color: #ffffff; padding-bottom: 20px; border: 1px solid #bdc3c7;">
            <h3>Thể Loại</h3>
              <div class="box darkBox genres hidden-sm hidden-xs Module Module-179">
                <div class="ModuleContent">
                    <ul class="nav">
                        <li class="active">
                            <a target="_self" >Tất cả thể loại</a>
                        </li>
                        <li>
                            <a target="_self" >Action</a>
                        </li>
                        <li>
                            <a target="_self" href="#adult">Adult</a>
                        </li>
                        <li>
                            <a target="_self" href="#adventure">Adventure</a>
                        </li>
                        <li>
                            <a target="_self" href="#anime">Anime</a>
                        </li>
                        <li>
                            <a target="_self" href="#chuyen-sinh">Chuyển Sinh</a>
                        </li>
                        <li>
                            <a target="_self" href="#comedy">Comedy</a>
                        </li>
                        <li>
                            <a target="_self" href="#comic">Comic</a>
                        </li>
                        <li>
                            <a target="_self" href="#cooking">Cooking</a>
                        </li>
                        <li>
                            <a target="_self" href="#co-dai">Cổ Đại</a>
                        </li>
                        <li>
                            <a target="_self" href="#doujinshi">Doujinshi</a>
                        </li>
                        <li>
                            <a target="_self" href="#drama">Drama</a>
                        </li>
                        <li>
                            <a target="_self" href="#dam-my">Đam Mỹ</a>
                        </li>
                        <li>
                            <a target="_self" href="#ecchi">Ecchi</a>
                        </li>
                        <li>
                            <a target="_self" href="#fantasy">Fantasy</a>
                        </li>
                        <li>
                            <a target="_self" href="#gender-bender">Gender Bender</a>
                        </li>
                        <li>
                            <a target="_self" href="#harem">Harem</a>
                        </li>
                        <li>
                            <a target="_self" href="#historical">Historical</a>
                        </li>
                        <li>
                            <a target="_self" href="#horror">Horror</a>
                        </li>
                        <li>
                            <a target="_self" href="#josei">Josei</a>
                        </li>
                        <li>
                            <a target="_self" href="#live-action">Live action</a>
                        </li>
                        <li>
                            <a target="_self" href="#manga">Manga</a>
                        </li>
                        <li>
                            <a target="_self" href="#manhua">Manhua</a>
                        </li>
                        <li>
                            <a target="_self" href="#manhwa">Manhwa</a>
                        </li>
                        <li>
                            <a target="_self" href="#martial-arts">Martial Arts</a>
                        </li>
                        <li>
                            <a target="_self" href="#mature">Mature</a>
                        </li>
                        <li>
                            <a target="_self" href="#mecha">Mecha</a>
                        </li>
                        <li>
                            <a target="_self" href="#mystery">Mystery</a>
                        </li>
                        <li>
                            <a target="_self" href="#ngon-tinh">Ngôn Tình</a>
                        </li>
                        <li>
                            <a target="_self" href="#one-shot">One shot</a>
                        </li>
                        <li>
                            <a target="_self" href="#psychological">Psychological</a>
                        </li>
                        <li>
                            <a target="_self" href="#romance">Romance</a>
                        </li>
                        <li>
                            <a target="_self" href="#school-life">School Life</a>
                        </li>
                        <li>
                            <a target="_self" href="#sci-fi">Sci-fi</a>
                        </li>
                        <li>
                            <a target="_self" href="#seinen">Seinen</a>
                        </li>
                        <li>
                            <a target="_self" href="#shoujo">Shoujo</a>
                        </li>
                        <li>
                            <a target="_self" href="#shoujo-ai">Shoujo Ai</a>
                        </li>
                        <li>
                            <a target="_self" href="#shounen">Shounen</a>
                        </li>
                        <li>
                            <a target="_self" href="#shounen-ai">Shounen Ai</a>
                        </li>
                        <li>
                            <a target="_self" href="#slice-of-life">Slice of Life</a>
                        </li>
                        <li>
                            <a target="_self" href="#smut">Smut</a>
                        </li>
                        <li>
                            <a target="_self" href="#soft-yaoi">Soft Yaoi</a>
                        </li>
                        <li>
                            <a target="_self" href="#soft-yuri">Soft Yuri</a>
                        </li>
                        <li>
                            <a target="_self" href="#sports">Sports</a>
                        </li>
                        <li>
                            <a target="_self" href="#supernatural">Supernatural</a>
                        </li>
                        <li>
                            <a target="_self" href="#tap-chi-truyen-tranh">Tạp chí truyện tranh</a>
                        </li>
                        <li>
                            <a target="_self" href="#thieu-nhi">Thiếu Nhi</a>
                        </li>
                        <li>
                            <a target="_self" href="#tragedy">Tragedy</a>
                        </li>
                        <li>
                            <a target="_self" href="#trinh-tham">Trinh Thám</a>
                        </li>
                        <li>
                            <a target="_self" href="#truyen-scan">Truyện scan</a>
                        </li>
                        <li>
                            <a target="_self" href="#truyen-mau">Truyện Màu</a>
                        </li>
                        <li>
                            <a target="_self" href="#viet-nam">Việt Nam</a>
                        </li>
                        <li>
                            <a target="_self" href="#webtoon">Webtoon</a>
                        </li>
                        <li>
                            <a target="_self" href="#xuyen-khong">Xuyên Không</a>
                        </li>
                        <li>
                            <a target="_self" href="#16">16+</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

</div>